.DS_Store
Character-Impact/facenet_keras_weights.h5
Character-Impact/reference/*.png
Character-Impact/reference/8-Facial_Recognition_Video/test/output/test_video_predictions/angela/prediction/*.png
Character-Impact/reference/8-Facial_Recognition_Video/test/output/test_video_predictions/dwight/prediction/*.png
Character-Impact/reference/8-Facial_Recognition_Video/test/output/test_video_predictions/michael/prediction/*.png
Character-Impact/reference/8-Facial_Recognition_Video/test/output/test_video_predictions/jim/prediction/*.png
Character-Impact/reference/8-Facial_Recognition_Video/test/output/test_video_predictions/ryan/prediction/*.png
Character-Impact/reference/8-Facial_Recognition_Video/test/output/test_video_predictions/kevin/prediction/*.png
Character-Impact/reference/8-Facial_Recognition_Video/test/output/test_video_predictions/lonny/prediction/*.png
Character-Impact/reference/8-Facial_Recognition_Video/test/output/The_Office_S01E03_predictions/jim/prediction/*.png
Character-Impact/reference/8-Facial_Recognition_Video/test/output/test_video_predictions/kelly/prediction/*.png
Character-Impact/reference/8-Facial_Recognition_Video/test/*.mp4
Character-Impact/reference/8-Facial_Recognition_Video/test/output/*.mp4
Character-Impact/reference/8-Facial_Recognition_Video/test/output/IMDb/*.mp4
Character-Impact/*.h5
San-Francisco/reference/eviction_data.csv
San-Francisco/reference/police_department/pd_incident_reports.csv
San-Francisco/reference/police_department/pd_service_calls.csv
